<!DOCTYPE html>
<html>
  <head>
    <title>Conditions Demo</title>
    <script src="../lib/vendor/jquery.js" type="text/javascript"></script>
    <script src="../lib/business-rules/conditions-builder.js" type="text/javascript"></script>
    <script src="../lib/business-rules/actions-builder.js" type="text/javascript"></script>
    <script src="../lib/business-rules/rule-engine.js" type="text/javascript"></script>
    <script src="static/rulemaker.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/rulemaker.css" />
  </head>
  <body>
    <h1>Conditions and Actions Demo</h1>

    <h3>When these conditions are met...</h3>
    <div id="conditions"></div>


    <form id="demo-form">
      <div><button type="submit" id="submit">Run Conditions and Actions</button>
    </form>

    <div id="feedback"></div>
  </body>
</html>

